.hide {
  display: none;
}
 body {
   margin: auto;
   height: 65em;
   width: 90%;
   border: 5px solid black;
   display: flex;
   flex-direction: column;
   background-color: green;
   justify-content: center;
   align-items: center;
 }
 .game {
   display: flex;
   justify-content: center;
   margin: auto;
   height: 100%;
   width: 100%;
 }
h1 {
  text-align: center;
  font-size: 9em;
  font-family: sans-serif;
}
button {
  background-color: red;
  color: white;
  display: block;
  margin:auto;
  font-size: 3em;
  border-radius: 30%;
  padding: 1em;
}
.car {
  background-color: white;
  height: 7em;
  width: 5em;
  position: absolute;
  bottom: 2em;
}
.gameArea {
  justify-content: center;
  margin: auto;
  border-left: 5px solid lightgrey;
  border-right: 5px solid lightgrey;
  background-color: black;
  width: 40em;
  height: 100%;
  margin: auto;
        }
